body{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto;
    background-color: grey;
    border-radius: 20px;
    height: 60px;
    width: 80%;
    
}
header h1{
    font-family: "Space Grotesk",sans-serif;
}
table a{
    font-size: 14px;
    font-family: "Space Grotesk",sans-serif;
    font-weight: 500;
    color: rgb(0, 0, 0);
    text-decoration: none;   
    text-transform: uppercase;
}
main{
    display: flex;

}
main p{
    font-family: "Poppins";
    max-width: 800px;
    margin: 30px auto;
}